.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999; /* Ensure the button is on top of other elements */
}

.whatsapp-button img {
  width: 60px; /* Adjust the size as needed */
  height: auto;
}
@media (max-width: 500px) {
  .whatsapp-button img {
    width: 50px;
    opacity: 0.9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
