.whatsapp-button {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 9999; /* Ensure the button is on top of other elements */
}

.whatsapp-button img {
  width: 60px; /* Adjust the size as needed */
  height: auto;
}
@media (max-width: 500px) {
  .whatsapp-button img {
    width: 56px;
    opacity: 0.9;
  }
}
